# --------------------------
# BACKEND (Java / Spring Boot)
# --------------------------
/backend/target/
/backend/.idea/
/backend/*.iml
/backend/.mvn/wrapper/maven-wrapper.jar
HELP.md

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# --------------------------
# FRONTEND (Vue.js / Node)
# --------------------------
# Ignorar arquivos do Vue.js
/frontend/vue-project/node_modules/
/frontend/vue-project/dist/
/frontend/vue-project/.env


### VS Code ###
.vscode/
.vscode/*
!.vscode/extensions.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Outros
.DS_Store
*.local
*.suo
*.sw?
*.tsbuildinfo

/cypress/videos/
/cypress/screenshots/

